.interwievs {

  &__wrap {
    padding-top: 60px;

    @include respond-below(md) {
      padding-top: 50px;
    }

    @include respond-below(sm) {}

    @include respond-below(xs) {
      padding-top: 30px;
      overflow: auto;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 27px;
    color: var(--title-color);

    @include respond-below(lg) {}

    @include respond-below(md) {}

    @include respond-below(sm) {}

    @include respond-below(xs) {
      text-align: center;
    }
  }

  &__small-card {
    padding-top: 30px;
    text-align: center;

    @include respond-below(lg) {}

    @include respond-below(md) {}

    @include respond-below(sm) {}

    @include respond-below(xs) {}
  }

}

.small-card__list {
  list-style: none;
  display: flex;
  justify-content: space-between;

  @include respond-below(xs) {
    min-width: 720px;
  }
}
