:root {
  --brand-color: #000000;
  --button-bg-color: #303030;
  --title-color: #1F1F1D;
  --text-white: #FFFFFF;
  --text-black: #1F1F1D;

  --trans-global: all 0.2s linear;
  --trans-button: all 0.5s ease;
}