.header {
  &__content {
    display: flex;
    justify-content: center;
    position: relative;
  }
  &__logo {
    padding: 45px 0;
  }
}

/* Burger menu */

.burger {
  &__menu-button {
    width: 24px;
    height: 19px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__menu-lines {
    position: absolute;
    height: 2px;
    background-color: var(--brand-color);
    transition: var(--trans-global);
    top: 50%;
    transform: translateY(-50%);
    width: 18px;

    &::after {
      content: '';
      width: 24px;
      top: 8px;
      transition: var(--trans-global);
      @extend .burger__menu-lines
    }

    &::before {
      content: '';
      width: 24px;
      top: -8px;
      transition: var(--trans-global);
      @extend .burger__menu-lines
    }
  }
 
  &__menu-list {
    min-width: 345px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 50px;
    z-index: 15;
  }
 
}

.active {
  .burger__menu-lines {
    background-color: transparent;
    transition: var(--trans-global);

    &::before {
      top: 0;
      transform: rotate(45deg);
      transition: var(--trans-global);
      background-color: var(--brand-color);
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
      transition: var(--trans-global);
      background-color: var(--brand-color);
    }
  }
} 


.menu {
  &__list {
    list-style: none;
    padding: 55px 65px;
  }
  &__item {
    margin-bottom: 15px;
    width: 100%;
    transition: var(--trans-global);

    &:hover {
      background-color: var(--brand-color);
      transition: var(--trans-global);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--brand-color);
    transform:translateX(0px);
    transition: var(--trans-global);

    &:hover {
      color: var(--text-white);
      transform:translateX(20px);
      transition: var(--trans-global);
    }
  } 
}


