.large-card {

  &__item {
    max-width: 556px;
    width: 100%;
    margin-right: 20px;

    @include respond-below(xs) {
      padding-top: 25px;
      margin-right: 0px;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }

  &-img__wrap {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 66.07%;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond-below(xs) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__sub-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
  }

  &__date {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 6px;
    color: var(--brand-color);

    @include respond-below(md) {
      padding-top: 20px;
    }

    @include respond-below(xs) {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 6px;
      padding-top: 15px;
    }
  }

  &__link {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--brand-color);

    @include respond-below(xs) {
      display: none;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: var(--title-color);
    padding-top: 31px;

    @include respond-below(md) {
      font-size: 18px;
      line-height: 27px;
      padding-top: 15px;
    }

    @include respond-below(xs) {
      font-size: 18px;
      line-height: 27px;
      padding-top: 15px;
    }
  }

  &__subtitle {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: var(--text-black);
    padding-top: 20px;

    @include respond-below(md) {
      font-size: 14px;
      line-height: 21px;
      padding-top: 20px;
    }

    @include respond-below(xs) {
      font-size: 14px;
      line-height: 21px;
      padding-top: 20px;
    }
  }
}